body {
  margin: 0;
  padding: 0;
  background-color: #efeee7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333333;
}


h1 {
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 20px;
    /* Change the size of your font to 60 pixels high. */
    font-size: 3em;
    /* This will color the heading font white. */
    color: #FFFFFF;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: center;
    /* Underline the text. */
    text-decoration: none;
    /* The background of the heading element will now be black. */
    background-color: black;
}


/* h2 heading tags */

h2 {
    /* Put a 15-pixel margin at the top of all h2 headings. */
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    text-align: left;
    margin: 0px;
    
}
a {
    color: red;
}

#container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}

#description {
    margin: 0px;
}